@{
    ViewBag.Title = "Edit Funding Source";
}

@using System.Web.Optimization;

@model OHC.EAMI.WebUI.Models.EAMIFundingSourceModel

@using (Html.BeginForm("EditFundingSource", "ManageSystems", FormMethod.Post, new { @class = "form-horizontal", role = "form", @ID = "frmEditFundingSource", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
<div class="panel-body">
    <div id="dvEditErrorHolder"></div>
    <div class="form-group">
        <div class="col-xs-4">
            <input type="hidden" id="hdnSystemId" value="@Model.System_ID" />
            @Html.HiddenFor(input => input.Funding_Source_ID, new { @class = "form-control input-sm", id = "txtFundingSourceID", maxlength = "10" })
            @Html.HiddenFor(input => input.System_ID, new { @class = "form-control input-sm", id = "hdnSystemID", maxlength = "10" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4">
            @Html.LabelFor(input => input.System_Code, new { @class = "control-label" })<span style="color:red;font-weight:bold">&nbsp;*</span>
            @Html.TextBoxFor(input => input.System_Code, new { @class = "form-control input-sm", id = "txtSystemCode", maxlength = "200", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4">
            @Html.LabelFor(input => input.Code, new { @class = "control-label" })<span style="color:red;font-weight:bold">&nbsp;*</span>
            @Html.TextBoxFor(input => input.Code, new { @class = "form-control input-sm", id = "txtFundingSourceCode", maxlength = "50", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4">
            @Html.LabelFor(input => input.Description, new { @class = "control-label" })
            @Html.TextBoxFor(input => input.Description, new { @class = "form-control input-sm", id = "txtFundingSourceDescription", maxlength = "100" })
        </div>
    </div>
    @*<div class="form-group">
        <div class="col-xs-4">
            @Html.LabelFor(input => input.Name, new { @class = "control-label" })<span style="color:red;font-weight:bold">&nbsp;*</span>
            @Html.TextBoxFor(input => input.Name, new { @class = "form-control input-sm", id = "txtFundingSourceName", maxlength = "50" })
        </div>
    </div>
    <div class="form-group">
            <div class="col-xs-4">
                @Html.LabelFor(input => input.Title, new { @class = "control-label" })<span style="color:red;font-weight:bold"></span>
                @Html.TextBoxFor(input => input.Title, new { @class = "form-control input-sm", id = "txtFundingSourceTitle", maxlength = "100" })
            </div>
        </div>*@
</div>
    <input type="checkbox" checked="@Model.IsActive" style="visibility:hidden" id="chkIsFundingSourceActive" />

    <div class="modal fade" id="modalFundingSourceDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true" style="margin-top:100px;">
        <div class="modal-dialog text-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Funding Source Code : @Model.Code (@Model.Code)</h4>
                </div>
                <div class="modal-body" style="margin: 10px;">
                    <p>
                        <strong>
                            Are you sure you want to delete this Funding Source <label id="lblDeleteFundingSourceId"></label>?
                        </strong>
                    </p>
                </div>
                <div style="clear:both;margin-bottom:20px;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dhcs-secondary" onclick="ConfirmDeleteFundingSource()">Delete</button>
                    <button type="button" class="btn btn-dhcs-secondary" onclick="CloseDeleteFundingSourceModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both"></div>
    <div class="form-group" style="margin-top:20px;" id="dvActive">
        <div class="col-xs-4">
            <button type="button" onclick="return EditFundingSource();" class="btn btn-dhcs-secondary btn-sm" id="btnEditFundingSource">Update </button>&nbsp;
            <button type="button" onclick="return EditFundingSourceReset();" class="btn btn-dhcs-secondary btn-sm" id="btnEditFundingSourceReset">Reset</button>&nbsp;
            <button type="button" onclick="return EditFundingSourceBack();" class="btn btn-dhcs-secondary btn-sm" id="btnEditFundingSourceBack" style="float:none">Back</button>&nbsp;
            <button type="button" onclick="return DeleteFundingSource();" class="btn btn-dhcs-secondary btn-sm" id="btnFundingSourceDelete" style="float:none">Delete</button>&nbsp;
        </div>
    </div>
}

<script type="text/javascript">

    var frmValidator = $("#frmEditFundingSource").validate({
        errorElement: 'span',
        ignore: ".ignore",
        rules: {
            Code: {
                required: true,
            },
            Fund_Name: {
                required: true,
            },
        },

        // Messages for form validation
        messages: {
            Code: {
                required: 'Please enter Funding Source Name',
            },            
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element);
        }

    });

    function ajaxValidateAddNewFundingSource() {
        return frmValidator.form();
    }

    function EditFundingSource() {
        var isActive = document.getElementById('chkIsFundingSourceActive').checked;

        if (!ajaxValidateAddNewFundingSource()) {
            return false;
        }
        else {
            $('#header').css("display", "block");
            HideFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder');

            $.ajax({
                url: getEAMIAbsoluteUrl('~/ManageSystems/UpdateFundingSource?isActive=' + isActive),
                type: 'POST',
                datatype: "html",
                cache: false,
                data: $("#frmEditFundingSource").serialize(),
                success: function (data) {
                    var message = "";
                    var status = "";
                    if (data != null) {
                        //undefined in case of some exception. for ex: Session override error
                        if (data.message == undefined || data.status == undefined) {
                            message = "An error occured. Please refresh the screen and try again.";
                            status = false;
                        }
                        else {
                            message = data.message;
                            status = data.status;
                        }

                        wasItAAsuccess = (status == "OK");

                        if (wasItAAsuccess) {

                            setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', true, 'Funding Source successfully updated', 4);
                        }
                        else {
                            setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', false, message, 5);
                        }
                    }
                    else { setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', false, message, 5); }
                },
                error: function () {
                    setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', false, 'An error occured. Please refresh the screen and try again', 5);

                }
            });
        }
        return false;
    }

    function EditFundingSourceReset() {

        //EAMIShowAjaxLoadingContent('dvActionArea');
        HideFormStatusMessage('frmEditFundingSource', 'dvAddErrorHolder');
        var systemID = document.getElementById('hdnSystemId').value;
        $('#dvtab4').load(getEAMIAbsoluteUrl('~/ManageSystems/EditFundingSource?fundingSourceID=' + currentFundingSourceID + '&systemID=' + systemID));
        return false;
    }

    function EditFundingSourceBack() {
        $('#divLoadingAnimation').css("display", "block");
        EAMIShowAjaxLoadingContent('divLoadingAnimation_Inner');
        var systemID = document.getElementById('hdnSystemId').value;

        $("#dvMainArea").slideUp(250, function () {
            // Animation complete.
            $('#dvActionArea').slideDown(250, function () {
                $('#dvtab4').load(getEAMIAbsoluteUrl('~/ManageSystems/ViewFundingSource?systemID=' + systemID + '&includeInactive=' + false));

                // End Loading... Animation
                $('#divLoadingAnimation_Inner').empty();
                $('#divLoadingAnimation').css("display", "none");
            });
        });

        return false;
    }

    function DeleteFundingSource() {
        $('#modalFundingSourceDeleteConfirm').modal('show');
    }

    function ConfirmDeleteFundingSource() {
        $.ajax({
            url: getEAMIAbsoluteUrl('~/ManageSystems/DeleteFundingSource?isActive=' + false),
            type: 'POST',
            datatype: "html",
            cache: false,
            data: $("#frmEditFundingSource").serialize(),
            success: function (data) {
                $('#modalFundingSourceDeleteConfirm').modal('hide');
                var message = "";
                var status = "";
                if (data != null) {
                    //undefined in case of some exception. for ex: Session override error
                    if (data.message == undefined || data.status == undefined) {
                        message = "An error occured. Please refresh the screen and try again.";
                        status = false;
                    }
                    else {
                        message = data.message;
                        status = data.status;
                    }

                    document.getElementById('btnEditFundingSource').disabled = true;
                    document.getElementById('btnEditFundingSourceReset').disabled = true;

                    wasItAAsuccess = (status == "OK");
                    if (wasItAAsuccess) {
                        document.getElementById('btnFundingSourceDelete').disabled = true;
                        setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', true, message, 4);
                    }
                    else {
                        document.getElementById('btnFundingSourceDelete').disabled = false;
                        setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', false, message, 5);
                    }
                }
                else { setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', false, message, 5); }
            },
            error: function () {
                setFormStatusMessage('frmEditFundingSource', 'dvEditErrorHolder', false, 'An error occured. Please refresh the screen and try again', 5);
            }
        });
    }

    function CloseDeleteFundingSourceModal() {
        $('#modalFundingSourceDeleteConfirm').modal('hide');
        $('.has-error').remove();
    }

    $(document).ready(function () {

    });

</script>
