@using System.Web.Optimization;
@using OHC.EAMI.WebUI.Models
@model List<PaymentProcessingRecord>

@{

    string grdPaymentRecord = ViewBag.gridPrefix + "_grdPaymentRecordsForPayeeAndPRTypeSet";
}

<link type="text/css" rel="stylesheet" href="~/Content/themes/Styles/PaymentProcessing/invoice-proccessing-grid.css" />

@if (Model != null && Model.Count > 0)
{

    <table id="@grdPaymentRecord" class="table table-hover table-bordered EAMITableNoBorder" cellspacing="0" style="width:100%; margin:0px !important;border:none !important;" data-top-groupname="@ViewBag.PaymentGroupName">
        <thead>
            <tr class="alert-info">
                <th class="EAMITableTDBorders PP_PCS_PaymentRecord_Shift"></th>
                <th class="EAMITableTDBorders">Payment Record # <span class="sort-icon"></span></th>
                <th class="EAMITableTDBorders">Payment Record Date <span class="sort-icon"></span></th>
                <th class="EAMITableTDBorders" style="text-align:right !important;">Amount <span class="sort-icon"></span></th>
                <th class="EAMITableTDBorders"></th>
                <th class="EAMITableTDBorders"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="alert-info" style="cursor: default;">
                    <td class="EAMITableTDBorders PP_PCS_PaymentRecord_Shift">&nbsp;</td>
                    <td class="EAMITableTDBorders"><a style="color:#337ab7;" href="" onclick="return fdModal('@Html.DisplayFor(modelItem => item.PaymentRecID)','@Html.DisplayFor(modelItem => item.PaymentRecNumber)', '@Html.DisplayFor(modelItem => item.PaymentSetNumber)', '@ViewBag.ID')">@Html.DisplayFor(modelItem => item.PaymentRecNumber)</a></td>
                    <td class="EAMITableTDBorders PP_PCS_PaymentDate">@string.Format("{0:MM/dd/yyyy}", item.PaymentRecordDate)</td>
                    @if (item.Amount <= 0)
                    {
                        <td name="mytd" class="RowAmount EAMITableTDBorders PP_PR_PCS_Amount" style="color:red;">@Html.DisplayFor(modelItem => item.Amount)</td>
                    }
                    else
                    {
                        <td name="mytd" class="RowAmount EAMITableTDBorders PP_PR_PCS_Amount">@Html.DisplayFor(modelItem => item.Amount)</td>
                    }
                    <td class="EAMITableTDBorders">&nbsp;</td>
                    <td class="EAMITableTDBorders">&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-danger">
        An error occured while retriving the data.
    </div>
}
<script type="text/javascript">
    var  grdPRNameThird = '@ViewBag.gridPrefix' + "_grdPaymentRecordsForPayeeAndPRTypeSet";    
    var parentPaymentRecordSetNumber = '@ViewBag.parentPaymentRecordSetNumber';
</script>
<script type="text/javascript" src="~/Scripts/App/PaymentProcessing/ClaimSchedule/claim-schedule-payment-set.js"></script>
