
@using System.Web.Optimization;
@using OHC.EAMI.WebUI.Models
@model List<PaymentProcessingRecord>

@{

    string grdPaymentRecord = ViewBag.gridPrefix + "_grdPaymentRecordsForPayeeAndPRTypeSet";
}

<link type="text/css" rel="stylesheet" href="~/Content/themes/Styles/Approvals/approvals-grid.css" />

@if (Model != null && Model.Count > 0)
{
    <table id="@grdPaymentRecord" class="table table-hover table-bordered EAMITableNoBorder" cellspacing="0" style="width:100%; margin:0px !important;border:none !important;" data-top-groupname="@ViewBag.PaymentGroupName">
        <thead>
            <tr class="alert-info">
                <th class="EAMITableTDBorders A_PR_PR_Shift"></th>
                <th class="EAMITableTDBorders">Payment Record # <span class="sort-icon"></span></th>
                <th class="EAMITableTDBorders A_PR_PR_PayDate">Payment Record Date <span class="sort-icon"></span></th>
                <th class="EAMITableTDBorders A_PR_PR_Amount" style="padding-right:383px !important;">Amount <span class="sort-icon"></span></th>
                <th class="EAMITableTDBorders"></th>
                <th class="EAMITableTDBorders"></th>
            </tr>
        </thead>
        <tbody class="alert-info">
            @foreach (var item in Model)
            {
                <tr style="cursor: default;">
                    <td class="EAMITableTDBorders">&nbsp;</td>
                    <td class="EAMITableTDBorders"><a style="color:#337ab7;" href="javascript:void(0)" onclick="return showFundingModal('@Html.DisplayFor(modelItem => item.PaymentRecID)','@Html.DisplayFor(modelItem => item.PaymentRecNumber)', '@Html.DisplayFor(modelItem => item.PaymentSetNumber)', '@ViewBag.TopGroupID')">@Html.DisplayFor(modelItem => item.PaymentRecNumber)</a></td>
                    <td class="EAMITableTDBorders A_PR_PR_PayDate">@string.Format("{0:MM/dd/yyyy}", item.PaymentRecordDate)</td>
                    @if (item.Amount <= 0)
                    {
                        <td name="mytd" class="RowAmount EAMITableTDBorders A_PR_PR_Amount" style="color:red;padding-right:383px !important;">@Html.DisplayFor(modelItem => item.Amount)</td>
                    }
                    else
                    {
                        <td name="mytd" class="RowAmount EAMITableTDBorders A_PR_PR_Amount" style="padding-right:383px !important;">@Html.DisplayFor(modelItem => item.Amount)</td>
                    }
                    <td class="EAMITableTDBorders">&nbsp;</td>
                    <td class="EAMITableTDBorders">&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-danger" style="margin:20px;">
        An error occured while retriving the data.
    </div>
}
<script type="text/javascript">
    var grdPRNameThird = '@ViewBag.gridPrefix' + "_grdPaymentRecordsForPayeeAndPRTypeSet";    
    var parentPaymentRecordSetNumber = '@ViewBag.ParentPaymentRecordSetNumber';
   @*var topGroupId = '@ViewBag.TopGroupId';*@
</script>
<script type="text/javascript" src="~/Scripts/App/Approvals/PendingReturns/pendingreturns-paymentrecord.js"></script>
